body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.p15{
    padding: 30px;
}

.m15{
    margin: 15px;
}

.flex{
  display: flex;
}
 
.row{
  flex-direction:  row;
}
 
.column{
    flex-direction: column;
}
 
.absolute{
  position: absolute;
}
 
.center{
    text-align:  center;
}
 
.center-center{
  justify-content: center;
  align-items: center;
}
